body {
    text-align: center;
    background-color: lightcyan;
   font-family: Palatino;

    font-size: large;
}
h1{

    /*font-family: Impact;*/
    font-family: "Times New Roman";
    font-weight: bold;
    background-color: lightblue;
}
h1:hover{
    background-color: lightsteelblue;

}
#table{

    background-color: lightblue;
    font-size: large;

}
#artistName{
    font-size: 30px;
    font-family: Impact;
}

.select{
    position: relative;
    display: inline-block;
    background-color: lavender;
}
.select:hover {
    opacity: 0.5;
}

.select-content {
    display: block;
    background-color: mistyrose;
    opacity: 0.5;
}



#showResults{
    padding: 10px 20px;
    font-size: 13px;
    background-color: lightsteelblue;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s;
    cursor: grab;
    font-size: large;
}
#showResults:hover{
    background-color: steelblue ;
    color: white;
    /*box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);*/
}
#showResults:active{
    transform: translateY(4px);
    cursor: grabbing;
}
